{# templates/emails/notification.html.twig #}

<h3>Привет, {{ name }}!</h3>
<img src="cid:present">
<p>&nbsp;</p>
<p>Принимай поздравление от {{ recipientName }}.</p>
<p>Можешь поздравить его в ответ и подарить подарок.</p>
<p>Написать ему можно на почту {{ recipientEmail }}.</p>
<p>&nbsp;</p>
<p>Твой Тайный Санта.</p>
