<!DOCTYPE html>
<html>
<head>
    <title>Тестовое задание</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <script src="{{ asset('js/jquery.js') }}" defer></script>
    <script src="{{ asset('js/main.js') }}" defer></script>
</head>
<body>
<div id="content">
    <div class="wrapper">
        <h1 class="header">Тайный Санта <img src="{{ asset('img/santa.png') }}"></h1>
    {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
